<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>$(APP_ICON_NAME)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Service Sandbox</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.75387746846-ltfae970qvcr3l3bivfeolncbtc09p7h</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Service Production</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.909627311620-ej7sbcd2c24d4km9ulh3h9m7jq7v5fde</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Hackers Compete Deep Link</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hackersgolf</string>
			</array>
		</dict>
	</array>
	<key>Configuration properties</key>
	<dict>
		<key>Environment mode</key>
		<string>$(ENVIRONMENT_NAME)</string>
	</dict>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
	<key>ANTHROPIC_API_KEY</key>
	<string>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</string>
	<key>UIAppFonts</key>
	<array>
		<string>FugazOne-Regular.ttf</string>
		<string>fa-thin-100.otf</string>
		<string>fa-light-300.otf</string>
		<string>fa-regular-400.otf</string>
		<string>fa-solid-900.otf</string>
		<string>fa-brands-400.otf</string>
		<string>Quicksand-Light.ttf</string>
		<string>Quicksand-Regular.ttf</string>
		<string>Quicksand-Medium.ttf</string>
		<string>Quicksand-SemiBold.ttf</string>
		<string>Quicksand-Bold.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-LightItalic.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-MediumItalic.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-SemiBoldItalic.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-BoldItalic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Medium.ttf</string>
		<string>OpenSans-MediumItalic.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>OpenSans-SemiBoldItalic.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
	</array>
</dict>
</plist>
